<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!-- ***********************************  -->

    <!-- EVENT LogFile Name  -->
    <add key="EventLogFileName" value="Application"/>
    <add key="EventLogName" value="Application"/>
    <!-- LogFile Name  -->
    <add key="LogFileName" value="C:\apps\logs\DailyUserCallReport.log"/>
    <!--<add key="LogFileName" value="C:\Users\RobertL\Documents\apps\logs\DailyUserCallReport.log" />  -->

    <!-- ***********************For group report only ***********^*  -->
    <!-- email list   
    <add key="EMailList" value="ron@blue-dog.com, marie.capito@blue-dog.com" />     -->
    <!-- email list     -->
    <add key="EMailList" value="rhernandez@trumobility.com"/>
    <add key="Group" value="AutoParners1LLC"/>
    <add key="ExcelSubjectEmail" value="User Daily Group Call Report"/>
    <!--<add key="ExcelFileName" value="C:\Users\RobertL\Documents\apps\logs\UserDailyCallReport_" /> -->
    <add key="ExcelFileName" value="C:\apps\logs\UserDailyCallReport_"/>
    <add key="BCCEMailList" value="rhernandez@trumobility.com"/>
    <add key="FromEmail" value="UserDailyCallReport@trumobility.com"/>

    <!-- for total daily report list -->
    <add key="ReportBccMailList" value="rhernandez@trumobility.com"/>
    <add key="SMTPServer" value="smtp.strata8.net"/>

    <add key="ExcelToEmailList" value="rhernandez@trumobility.com"/>

    <!-- run parameters -->
    <add key="ReportIntervalInSecs" value="900"/>

    <!--  the omc cdr db connection    -->
    <add key="Sprint_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=Sprint;Data Source=10.0.16.46;"/>
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=cdr_db;Data Source=10.0.16.46;"/>

  </appSettings>
</configuration>
