<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--Folder where the files are FTP'd and that the application is watching for new files -->
    <add key="WatchFolder" value="C:\Users\RobertL\Documents\apps\data"/>
    <!-- Folder where the processed CDR files are moved to -->
    <add key="CDRArchiveFolder" value="C:\Users\RobertL\Documents\apps\data\processed"/>
    <!-- Process thread interval in secs, sleep time before grabbing next file to process -->
    <add key="ProcessThreadIntervalInSecs" value="1"/>
    <!-- the application event log name for this service -->
    <add key="EventLogName" value="FtpMgrSvc"/>
    <!-- the type of file that we are watching in the watch folder defined above -->
    <add key="WatchFileType" value="*.csv"/>
    <!-- the log file used to log events for this service -->
    <add key="LogFileName" value="C:\Users\RobertL\Documents\apps\logs\FtpMgr.log"/>
    <!-- parameters for the service provider we are getting CDRs for -->
    <!-- remote ftp site for customer to pull the cdrs off of 
    <add key="FTPSite" value="ftp.callcruncher.com"/>
    <add key="FTPUsername" value="trumobility"/>
    <add key="FTPPassword" value="sYjx7dkzeDMs"/>
    -->
    <!-- remote ftp site for customer to pull the cdrs off of -->
    <add key="FTPSite" value="208.99.195.208"/>
    <add key="FTPSiteUsername" value="papi"/>
    <add key="FTPSitePassword" value="neworld"/>

    <!-- the SQL database connection information -->
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=tru2015#;Initial Catalog=cdr_db;Data Source=10.20.10.28;" />
  </appSettings>

</configuration>