<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ***********************************  --> 
    <!-- ***********************************  -->
    <!-- Begin OmcCdrHandler properties needed for configuration  -->
    <!-- OmcEventLog Name -->
    <add key="OmcCiberHandlerEventLogName" value="OmcCdrHandler" />
    <!-- run as within 1 second to catch any new files being placed in the folder -->
    <add key="OmcCiberHandlerProcessThreadIntervalInSecs" value="1" />
    <!-- the folder to monitor for new files being FTP to -->
    <add key="OmcCiberHandlerWatchFolder" value="c:\processedCdrs\starsolutions\omc\toCiber" />
    <!-- the directory/folder to move the processed OMC converted to Broadworks CDR files to (must end with the "\" thanks!) -->
    <add key="BworksCdrFileFolder" value="c:\processedCdrs\bworks\prod\" />
    <add key="OmcCiberHandlerWatchFileType" value="*.xml" />
    <!-- the directory/folder to move the processed files to (must end with the "\" thanks!) -->
    <add key="OmcCiberHandlerMoveFolder" value="c:\processedCiber\starsolutions\omc\" />
    <!-- The application error log file name using the Ciber file writer -->
    <add key="OmcCiberHandlerLogFileName" value="c:\apps\logs\OmcCiberHandler.log" />
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;" />
    <!-- Used by CiberFileWriter : The output file that contains the CIBER records ** PRODUCTION CASE *** -->
    <add key="CiberOutputFileName" value="c:\apps\data\out\SANCCHA.CHAFCIBR.ONWV1" />
    <!-- the tech data sheet db connection -->
    <add key="WirelessTdsSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless;Data Source=10.0.16.46;" />
    <!-- the tech data sheet db connection to validate NPANXX -->
    <add key="DidSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=did;Data Source=10.0.16.46;" />
    <!-- Rates used to rate the variety of calls: AirTime, International and Local/LD -->
    <add key="AirTimeRate" value="1.49" />
    <add key="InternationalRate" value="0.80" />
    <add key="TollRate" value="0.50" />
    <!-- ***********************************  -->
  </appSettings>
</configuration>