<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ***********************************  -->
    <!-- ***********************************  -->
    <!-- Begin OmcCdrHandler properties needed for configuration  -->
    <!-- OmcEventLog Name -->
    <add key="OmcCdrHandlerEventLogName" value="OmcCdrHandler"/>
    <!-- run as within 1 second to catch any new files being placed in the folder -->
    <add key="OmcCdrHandlerProcessThreadIntervalInSecs" value="1"/>
    <!-- the folder to monitor for new files being FTP to -->
    <add key="OmcCdrHandlerWatchFolder" value="c:\cdrs\starsolutions\omc"/>
    <add key="OmcCdrHandlerWatchFileType" value="*.xml"/>
    <!-- the directory/folder to move the processed files to (must end with the "\" thanks!) -->
    <add key="OmcCdrHandlerMoveFolder" value="c:\processedCdrs\starsolutions\omc\"/>
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;"/>
    <!-- The application error log file name using the Ciber file writer -->
    <add key="OmcCdrHandlerLogName" value="c:\apps\logs\OmcCdrHandler.log"/>
    <!-- ***********************************  -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
