<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>

    <!-- EventLog Name -->
  <add key="EventLogName" value="AMSAppTestLog"/>
  <!--  log file name -->
  <add key="LogFileName" value="C:\Users\RobertL\Documents\apps\AmsHandler.log"/>
    <!-- Fraud detection interval in seconds  -->
    <add key="FraudCheckIntervalInSecs" value="900"/>
    <!-- How far to go back to check, currently going back 2 hours  -->
    <add key="HourDelay" value="2"/>
  <!-- Directory where to move the processed files to, <terminate with a '\' >  -->
  <add key="CDRDelayIntervalInMins" value="15"/>
  <!-- Kilobyte limit , for now 1GB -->
  <add key="TotalDataLimitInKBPerHour" value="10000"/>
  <!-- the directory where the merged CDR file will be stored before getting moved <terminate with a '\' please -->
  <add key="ToEmailList" value="rhernandez@trumobility.com, jschnelz@trumobility.com"/>
  <!-- the directory where the merged CDR file will be stored before getting moved <terminate with a '\' please -->
  <add key="SMTPServer" value="smtp.strata8.net"/>
  <!-- the omc cdr db connection -->
  <add key="SprintMVNODataSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=sprint_mvno_data;Data Source=10.0.16.46;"/>
 
  </appSettings>

</configuration>
