<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- ***********************************  -->
    <!-- OmcEventLog Name -->
    <add key="EventLogName" value="AMSAppTestLog"/>
    <!-- OmcFtpHandler log file name -->
    <add key="LogFileName" value="C:\apps\logs\AmsFileHandlerSvc.log"/>
    <!-- ***********************************  -->
    <!-- Begin FileReadWriteManager properties needed for configuration  -->
    <!-- run daily (1mins * 60 secs) to catch any new files being placed in the folder -->
    <add key="ProcessThreadIntervalInSecs" value="1"/>
    <!-- Directory where to move the processed files to, <terminate with a '\' >  -->
    <add key="ProcessedFileFolder" value="C:\apps\data\sprint\ams\processed\"/>
    <add key="WatchFolder" value="C:\apps\data\sprint\ams"/>
    <add key="WatchFileType" value="*.DAT"/>
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=sprint_mvno_data;Data Source=10.0.16.46;"/>

  </appSettings>
</configuration>
