<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCIClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OCIClient.Properties.Settings>
            <setting name="OCIClient_net_strata8_lab_ews1_BWProvisioningServiceService"
                serializeAs="String">
                <value>http://ews1.lab.strata8.net/webservice/services/ProvisioningService</value>
            </setting>
        </OCIClient.Properties.Settings>
    </applicationSettings>
</configuration>
