<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- ***********************************  -->
    <!-- CallProcessor PARAMS:  -->
    <add key="Department" value="CCC"/> 
    <add key="EMailList" value="rhernandez@trumobility.com"/>
    <!-- run parameters -->
    <add key="ReportIntervalInSecs" value="900"/>

    <!-- CdrDbProcessor PARAMS:  -->
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=tru2015#;Initial Catalog=cdr_db;Data Source=10.20.10.28;" />

    <!-- ReportFormatter PARAMS:  -->
    <add key="SMTPServer" value="smtp.strata8.net"/>
    <add key="BCCEMailList" value="rhernandez@trumobility.com"/>
    <add key="FromEmail" value="DailyDeptCallReport@trumobility.com"/>
    
    <add key="ExcelSubjectEmail" value="Daily Dept Call Report"/>
    <add key="ExcelFileName" value="C:\apps\reports\ccc\DeptCallReport_"/>
    
    <!-- TimeKeeper PARAMS:  -->    
    <add key="ReportDayTime" value="0"/>
    
    <!-- LogFileMgr PARAMS  -->
    <add key="LogFileName" value="C:\apps\logs\DeptCallReport.log"/>
    <add key="EventLogName" value="DeptCallReportSvc"/>

  </appSettings>
</configuration>