<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ***********************************  -->
    <!-- Begin SftpHandler properties needed for configuration  -->
    <!-- Log file Name -->
    <add key="EventLogName" value="d:\apps\logs\AMSSftpEvent.log" />
    <!-- identity file, public/private key -->
    <add key="SftpIdentityFile" value="d:\apps\RSAKeys\opensshkey" />
    <!-- The application error log file name followed by the Event Log Name -->
    <add key="LogFileName" value="d:\apps\logs\SftpHandler.log" />
    <add key="SftpSiteUserName" value="rhernandez" />
    <add key="SftpSiteIPAddress" value="208.90.249.243" />
    <!-- the REMOTE directory/folder to get the MAF files from (must end with the "/" thanks!) -->
    <add key="SftpRemoteFileFolder" value="/home/sprintamsuser/ipdr/" />
    <!-- run  within 30 mins to catch any new files being placed in the folder very hour 30*60-->
    <add key="SftpHandlerProcessThreadIntervalInSecs" value="1800" />
    <!-- the folder to move the sftp'd file to from Sprint  (must end with the "/" thanks! -->
    <add key="SftpHandlerMoveToProcessFolder" value="d:/apps/data/ams/in/" />
    <!-- the folder to move the sftp'd file after it has been processed  (must end with the "/" thanks! -->
    <add key="SftpHandlerMoveProcessedFileFolder" value="d:/apps/data/ams/in/processed/" />
    <!-- the folder to monitor for new files being SFTP'd from Sprint -->
    <add key="SftpHandlerWatchFolder" value="d:/apps/data/ams/in" />
    <add key="SftpHandlerWatchFileType" value="*.DAT" />
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;" />
    <!-- ***********************************  -->
  </appSettings>
</configuration>