<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ***********************************  -->
    <!-- ***********************************  -->
    <!-- Begin FileReadWriteManager properties needed for configuration  -->
    <!-- run daily (24 hours * 60mins * 60 secs) to catch any new files being placed in the folder -->
    <add key="ProcessThreadIntervalInSecs" value="86400"/>
    <!-- run at 7am -->
    <add key="ReportTimeToRunAtIn24HourTimeReference" value="7"/>
    <!-- Directory of the CDR files to process -->
    <add key="OmcCdrFileDirectory" value="c:\processedCdrs\starsolutions\omc"/>
    <!-- directory where the processed CDRs are copied to, these are the hourly files used to create the
         one daily file from the hourly files -->
    <add key="OmcCdrMoveFileDirectory" value="c:\processedCdrs\starsolutions\omc\mergedForCiber\"/>
    <!-- the directory where the merged CDR file will be stored before getting moved <terminate with a '\' please -->
    <add key="MergedCdrFileTempDirectory" value="c:\apps\temp\"/>
    <!-- the folder where the new daily file is moved to (moved from the above temp directory) -->
    <add key="CdrToCiberMoveDirectory" value="c:\processedCdrs\starsolutions\omc\toCiber\"/>
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=172.27.54.22;"/>
    <!-- The application event log   -->
    <add key="ReadWriteManagerEvtFile" value="OmcCiberFileMgrSvc"/>
    <!-- The application error log file name  -->
    <add key="ReadWriteManagerLogFile" value="c:\apps\logs\ReadWriteMgrLog.log"/>
    <!-- ***********************************  -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
