<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ***********************************  -->
    <!-- ***********************************  -->
    <!-- Begin OmcCdrHandler properties needed for configuration  -->
    <!-- OmcEventLog Name -->
    <add key="OmcCiberHandlerEventLogName" value="OmcCdrHandler"/>
    <!-- run daily (3 hours * 60mins * 60 secs) to catch any new files being placed in the folder -->
    <add key="OmcCiberHandlerProcessThreadIntervalInSecs" value="10800"/>
    <!-- the folder to monitor for new files being FTP to -->
    <add key="OmcCiberHandlerWatchFolder" value="C:\ciber\toProcess"/>
    <!-- <add key="CiberFileToRead" value="c:\logs\S8CIBERFile.txt" /> -->
    <add key="CiberFileDirectory" value="C:\ciber\toProcess"/>
    <!-- the directory/folder to move the processed OMC converted to Broadworks CDR files to (must end with the "\" thanks!) -->
    <add key="BworksCdrFileFolder" value="c:\processedCdrs\bworks\prod\"/>
    <add key="OmcCiberHandlerWatchFileType" value="*.xml"/>
    <!-- the directory/folder to move the processed files to (must end with the "\" thanks!) -->
    <add key="OmcCiberHandlerMoveFolder" value="c:\processedCiber\starsolutions\omc\"/>
    <!-- The application error log file name using the Ciber file writer -->
    <add key="OmcCiberHandlerLogFileName" value="c:\apps\logs\OmcCiberHandler.log"/>
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;"/>
    <!-- Used by CiberFileWriter : The output file that contains the CIBER records ** PRODUCTION CASE *** -->
    <add key="CiberOutputFileName" value="c:\apps\data\out\SANCCHA.CHAFCIBR.ONWV1"/>
    <!-- the tech data sheet db connection -->
    <add key="WirelessTdsSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless;Data Source=10.0.16.46;"/>
    <!-- the tech data sheet db connection to validate NPANXX -->
    <add key="DidSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=did;Data Source=10.0.16.46;"/>
    <!-- Rates used to rate the variety of calls: AirTime, International and Local/LD -->
    <!-- ** Sprint-Based Rates ** -->
    <add key="SprintAirTimeRate" value="1.49"/>
    <add key="SprintInternationalRate" value="0.90"/>
    <add key="SprintTollRate" value="0.50"/>
    <!-- ** VZW-Based Rates ** -->
    <add key="VZWAirTimeRate" value="1.49"/>
    <add key="VZWInternationalRate" value="0.80"/>
    <add key="VZWTollRate" value="0.50"/>
    <!-- ** Land-Based Rates ** -->
    <add key="LandAirTimeRate" value="0.99"/>
    <add key="LandInternationalRate" value="0.70"/>
    <add key="LandTollRate" value="0.50"/>
    <!-- ** VZW Step Down AirTime-Based Rates ** -->
    <add key="VZWLandAirTimeRate1" value="0.99"/>
    <add key="VZWLandAirTimeRate2" value="0.79"/>
    <add key="VZWLandAirTimeRate3" value="0.59"/>
    <!-- ***********************************  -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
