<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    
    <!-- the omc cdr db connection -->
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=cdr_db;Data Source=10.0.16.46;" />
    <add key="RateCenter_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=RateCenters;Data Source=10.0.16.46;" />

    <add key="StartMonth" value="4" />
    <add key="EndMonth" value="5" />
    <add key="ServiceProvider" value="Strataverse" />
    <add key="EventLogName" value="Application" />
         <!--  log file name -->
    <add key="LogFileName" value="C:\Users\RobertL\Documents\apps\logs\LDProcessor.log" />
  </appSettings>

</configuration>