-<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ***********************************  -->
    <!-- ***********************************  -->
    <!-- Begin OmcCdrHandler properties needed for configuration  -->
    <!-- OmcEventLog Name -->
    <!-- ***********************************  -->
    <!-- Event Log Name  -->
    <add key="LogFileName" value="c:\apps\logs\OwReportSvc.log" />
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;" />
    <!-- the tech data sheet db connection -->
    <add key="WirelessTdsSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless;Data Source=10.0.16.46;" />
    <!-- the tech data sheet db connection -->
    <add key="DidSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=did;Data Source=10.0.16.46;" />
    <!-- ***********************************  -->
    <!-- WirelessCDRReport  -->
    <!-- Begin OmcCdrHandler properties needed for configuration  -->
    <!-- report BCC email list  -->
    <add key="ReportBccMailList" value="rhernandez@enterprisepcs.com" />
    <!-- Report TO email list  -->
    <add key="ReportMailList" value="rhernandez@enterprisepcs.com" />
    <!-- Report TO email list      
    <add key="DailyReportMailList" value="jschnelz@enterprisepcs.com, jim@on-waves.com, jh@on-waves.com" />
 -->
    <!-- 24 hour email that goes out with the CSV report attached to it -->
    <add key="CSVReportMailList" value=" rhernandez@enterprisepcs.com" />
    <!-- report going out throughout the day -->
    <add key="DailyReportMailList" value=" rhernandez@enterprisepcs.com" />
    <!-- Report Output Directory terminate with a "\" thanks! -->
    <add key="ReportOutputDirectory" value="c:\apps\reporting\out\" />
    <!-- <add key="DailyReportMailList" value="rhernandez@enterprisepcs.com" /> -->
    <!-- this is 60 mins * 60 secs * 24 hours  -->
    <add key="ReportIntervalInSecs" value="7200" />
    <!-- SMTP Server to relay off of -->
    <add key="SMTPServer" value="smtp.strata8.net" />
    <!-- Bworks file to write for inventory report -->
    <add key="ReportTimesToRun" value="8,11,14,17" />
    <!-- this is the report start, end time in 24 hour time reference run between 8am and 5 pm every 3 hours (8,11,2,5) -->
    <add key="54Time" value="8"/>
    <add key="ReportEndTime" value="17"/>
    <!-- this is the date (month, day) that the report will start from if the UseStartMonthDay flag is "true" -->
    <add key="ReportStartMonth" value="06"/>
    <add key="ReportStartDay" value="01"/>
    <add key ="UseStartMonthDay" value = "true"/>
    <!-- this is the report time to run at using the 24 hour notation as the time to run, 1=1am, 19=7pm, etc... -->
    <add key="ReportTimeToRunAtIn24HourTimeReference" value="1"/>
    <!-- remote ftp server to push the CSV file to -->
    <add key="RemoteFTPServer" value="ftp:\\cdrftp01-sttlwa.strata8.net"/>
    <add key="RemoteFTPServerUsername" value="onwaves"/>
    <add key="RemoteFTPServerPassword" value="onwaves2009"/>
  </appSettings>
</configuration>