<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ****************************************************  -->
    <add key="OmcCdrHandlerLogName" value="c:\apps\logs\OmcFtpHandler.log" />
    <add key="OmcCdrHandlerEventLogName" value="OmcFtpSvc" />
    <!-- ****************************************************  -->   
    <!-- Begin FTPHandler properties needed for configuration  -->
    <!-- Remote FTP site to grab the OMC CDR files from -->
    <add key="FTPServerDirectory" value="ftp://cdrs.strata8.net/starsolutions/omc" />
    <!-- Local folder/site to write OMC CDR files to -->
    <add key="FTPLocalDirectory" value="c:\cdrs\starsolutions\omc\" />
    <!-- remote FTP site login credentials -->
    <add key="FTPUserName" value="cdrreader" />
    <add key="FTPPwd" value="r34dm3" />
    <!-- main run interval in seconds, default is every hour (60 secs * 60 mins) -->
    <add key="FtpRunIntervalInSeconds" value="3600" />
    <!-- OmcEventLog Name -->
    <add key="EventLogName" value="OmcFtpSvc" />
    <!-- OmcFtpHandler log file name -->
    <add key="LogFile" value="c:\apps\logs\OmcFtpHandler.log" />
    <!-- the omc cdr db connection -->
    <add key="WirelessCdrSQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=wireless_cdr;Data Source=10.0.16.46;" />
    <!-- *****************************************************  -->
  </appSettings>
</configuration>