<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <appSettings>
    <!--Folder where the files are FTP'd and that the application is watching for new files
    <add key="WatchFolder" value="c:\Cdrs\Bworks\prod"/>  -->
    <add key="WatchFolder" value="C:\Users\RobertL\Documents\apps\data"/>
    <!-- Folder where the processed CDR files are moved to has to end with the \  -->
    <add key="MoveFolder" value="C:\Users\RobertL\Documents\apps\data\processed\"/>
    <!--   c:\ProcessedCdrs\"/> -->
    <!-- Process thread interval in secs, sleep time before grabbing next file to process -->
    <add key="ProcessThreadIntervalInSecs" value="1"/>
    <!-- the application event log name for this service -->
    <add key="EventLogName" value="ProcessCdrSvc"/>
    <!-- the type of file that we are watching in the watch folder defined above -->
    <add key="WatchFileType" value="*.csv"/>
    <!-- the log file used to log events for this service -->
    <add key="LogFileName" value="C:\Users\RobertL\Documents\apps\logs\CdrProcessorSvc.log"/>
    <!-- parameters for the service provider we are getting CDRs for -->
    <!-- the log file used to log events for this service -->
    <add key="ServiceProviderErrorLogFileName" value="c:\logs\ServiceProviderErrorLog.log"/>
    <!-- the place to place the crated file -->
    <add key="ServiceProviderDirectory" value="c:\ProcessedCdrs\ServiceProviders\"/>
    <!-- the log file used to log events for this service -->
    <add key="GetServiceProviderCdrs" value="FALSE"/>
    <!-- the name of the service providers to get CDRs for -->
    <add key="ServiceProviderToGetCdrsFor" value="Premiere_sp, WCI_sp, Strataverse_SP"/>
    <!-- remote ftp site for customer to pull the cdrs off of -->
    <add key="ServiceProviderFTPSite" value="cdrftp01-sttlwa.strata8.net, cdrftp01-sttlwa.strata8.net,cdrftp01-sttlwa.strata8.net"/>
    <add key="ServiceProviderFTPUsername" value="premiere, wci, strataverse"/>
    <add key="ServiceProviderFTPPassword" value="premiere2009, wci3pcs2010!, str@t@2012!"/>
    <!-- the SQL database connection information -->
    <add key="SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=cdr_db;Data Source=10.1.1.111;"/>
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=cdr_db;Data Source=10.0.16.46;" />
  </appSettings></configuration>
