<?xml version="1.0" encoding= "utf-8" ?>
<configuration>
  <appSettings>
    <add key="BWorksCdr_SQLConnectString" value="user id=rhernandez;password=strata8;Initial Catalog=cdr_db;Data Source=10.0.16.46;" />
    <!-- Fraud detection interval in seconds  -->
    <add key="FraudCheckIntervalInSecs" value="900" />
    <!-- Event Log Name  -->
    <add key="EventLogName" value="FraudDetectorSvc" />
    <!-- Event Log Name  -->
    <add key="ToEmailList" value="rhernandez@trumobility.com" />
    <!-- SMTP Server to relay off of -->
    <add key="SMTPServer" value="smtp.strata8.net" />
    <!-- fraud detector limit for International calls -->
    <add key="InternationalCallLimit" value="50" />
    <!-- fraud detector limit for all calls within the 30 CDR delay interval below -->
    <add key="TotalCallLimit" value="500" />
    <!-- CDR Delay Interval, (-) is back in time -->
    <add key="CDRDelayIntervalInMins" value="-30" />
  </appSettings>
</configuration>

